body {
  background-color: powderblue;
}
#commands {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#commands td, #commands th {
  border: 1px solid #ddd;
  padding: 8px;
}

#commands tr:nth-child(even){background-color: #f2f2f2;}

#commands tr:hover {background-color: #ddd;}

#commands th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0000FF;
  color: white;
}
h1 {
  color: blue;
}
p {
  color: red;
}
